body
{
    margin: 0px;
    font-family: Arial,sans-serif;
    background-image: url("./images/content-background.jpg");
    background-size: 100% auto;
}

.barPrim 
{
    background: none repeat scroll 0 0 #f5f5f5;
    height: 36px;
    overflow: hidden;
    position: relative;
}

.barPrim:after 
{
    background: none repeat scroll 0 0 #e1e1e1;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;    
    padding-left: 15px;
    padding-right: 15px;
}


.siteNav ul.sec {
    float: right;
}

.siteNav ul {
    border-left: 1px solid #e1e1e1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.siteNav ul li {
    border-right: 1px solid #e1e1e1;
    float: left;
}

.siteNav ul.sec li a:hover {
    background-color: #fff;
    color: #333;
    position: relative;
}

.siteNav ul.sec li span {
    display: block;
    float: left;
}



.siteNav ul li a {
    color: #666;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    padding: 0 15px;
}
.siteNav ul.sec li span {
    display: block;
    float: left;
    margin-right: 8px;
}


.top-bar {
    background: none repeat scroll 0 0 #fefefe;
    height: 80px;
}

.logo {
    float: left;
    height: 160px;
    width: 160px;
}

.logo a
{
    text-decoration: none;
    color: #E6222B;
}

.bottom-bar {
    background: none repeat scroll 0 0 #e31132;
    height: 56px;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.bottom-bar-inner {
    padding: 12px 0;
}



.bottom-bar-inner:after {
    clear: both;
}

.ad-ads {
    float: left;
}

.ad-search {
    float: left;
    margin: 0 0 0 16px;
}

.siteNav ul li i.fa {
    color: #c4c4c4;
    font-size: 18px;
    line-height: 36px;
}
.fa {
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.user-links {
    float: right;
    margin-right: 11px;
    margin-top: -12px;
}

.btn-submit-ad {
    background: none repeat scroll 0 0 #830015;
    border-radius: 2px;
    color: #fff;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 36px;
    text-decoration: none;
}

.ad-search-input {
    background: none repeat scroll 0 0 #fff;
    float: left;
    height: 32px;
    overflow: hidden;
}

.ad-search-txt {
    border: 0 none;
    height: 32px;
    max-width: 100%;
    margin: 0px;
    padding-left: 4px;
    width: 500px;
}

.btn {
    color: rgba(255, 255, 255, 0.95);
    font-weight: 700 !important;
}
.btn-search-submit {
    background-color: #840e0f;
    border-radius: 0 2px 2px 0;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-left: 0;
    padding: 0 20px;
    -moz-user-select: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

}

.btn-submit-ad span {
    display: inline-block;
    margin: 0 15px 0 0;
}

.btn-search-submit span {
    display: inline-block;
    margin: 0 8px 0 0;
}

.form-container {
    min-height: 500px;
    padding: 40px;
    position: relative;
    border: 1px solid #eee;
}

.form-flds-col {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding: 0 100px 18px;
}

.form-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}


.form-row {
    margin-bottom: 10px;
}
.form-row {
    clear: left;
    float: left;
    width: 100%;
}

.form-cols-4 {
    clear: both;
    margin: 0 -5px;
}


.form-cols-4 .form-col {
    float: left;
    padding: 0 5px;
    width: 100%;
}

.form-row select {
    border: 1px solid #cecece;
    font-size: 13px;
    padding: 4px;
    width: 300px;
}

.form-row label {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 4px;
    text-transform: uppercase;
}

.btn-add {
    background: none repeat scroll 0 0 #e31132;
    color: #fff;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}

.form-flds-group{
    display: inline-block;
    width: 100%;
}

.form-row input[type="password"], .form-row input[type="text"], .form-row textarea {
    border: 1px solid #cbcbcb;
    border-radius: 1px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
.form-row textarea, .form-row input[type="text"] {
    color: #333;
    font-size: 13px;
}

* {
    box-sizing: border-box;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.column {
    box-sizing: border-box;
    text-align: center;
}



.column .column_wrap {
    padding: 40px 50px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.footer-bottom-bar {
    background: none repeat scroll 0 0 #282a2b;
    border-top: 1px solid #4b4c4d;
    color: #8c8989;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 40px;
}

.center{
    display: inline-block;
    width: 50%;
    text-align: left;
}

.pull-left {
    float: left;
}



.list-items
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.list-item {
    height: 200px;
    width: 450px;
    color: #333;
    float: left;
    margin: 0 5px 10px;
    overflow: hidden;
    box-shadow: none;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 30px;
    position: relative;
    z-index: 1;
}

.list-item form
{
    display: inline;
}

.img-wrapper {
    height: 160px;
    line-height: 160px;
    margin: 0 15px 0 0;
    width: 160px;
}

.item-info {
    width: 200px;
}

.item-info h3 a{
    text-decoration: none;
    color: #282a2b;
}

.item-info {
    display: inline-block;
    vertical-align: top;
}

.list-item h3 {
    letter-spacing: 1px;
    font-size: 16px;
    height: 60px;
}
.container h3 {
    font-weight: 200;
    line-height: 1.2em;
    margin: 0;
    overflow: hidden;
}

.container h3 a
{    
    font-family: "Raleway" ,sans-serif;
    text-overflow: ellipsis;
}
.dd-deal-price {
    padding: 12px 0 5px;
}
.dd-deal-price {
    font-weight: bold;
}

.dd-deal-price span {
    font-size: 20px;
    padding: 0 6px 0 0;
}


.dd-list-price {
    font-size: 15px;
}
.dd-list-price 
{
    color: #777;
}

.dd-list-price span
{
    color: #e31132;
}

.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}

.pagination > li {
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
}   

.pagination .active span {
    background-color: #e31132 !important;
    border-color: #e31132 !important;
}

.pagination li a {
    color: #555 !important;
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #428bca;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #999;
    cursor: not-allowed;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination li a {
    color: #555 !important;
}

.topnav {
    border-bottom: 1px solid #ddd;
    border-color: #ddd;
    border-top: 1px solid #ddd;
    margin: 10px 0 30px;
    width: 100%;
}

.topnav > table {
    height: 100%;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

td.section.other {
    padding: 0 15px;
}

td.section.home {
    padding: 0 20px 0 40px;
}

.topnav td.section {
    width: 1px;
}

.topnav td {
    text-align: center;
    padding: 0 15px;
}

.topnav .rt {
    border-bottom: 1px solid transparent;
    color: #555;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 12px;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
}
tbody
{
    border: 0 none;
    font-size: 100%;
    font-weight: normal;
}

.topnav td.section.active .rt {
    border-bottom: 2px solid #555;
    cursor: default;
    font-weight: bold;
    padding-bottom: 9px;
}

.topnav td.section a.rt:hover {
    color: #0654ba;
    text-decoration: underline;
}

.error {
    color: #e31132;
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

ul
{
    list-style-type: none;
    padding: 0;
}

.product-show
{
    border:1px solid #eee;
    width: 100%;
    display: inline-block;
    padding: 20px;
}

.photo-view {
    float: left;
    width: 55.5%;
}

.photo-view {
    float: left;
    width: 55.5%;
    text-align: center;
}

.photo-view img{
    width: 95%;
}

.ad-view {
    float: right;
    margin-right: 20px;
    width: 40%;
    font-family: "Helvetica neue",Helvetica,Verdana,sans-serif;
}

.ad-view-header {
    border-bottom: 1px solid #eee;
    margin: 0 0 12px;
    padding: 0 10px 12px 0;
    position: relative;
}

.ad-view-header h1 {
    border-color: #fff;
    border-radius: 30px;
    border-style: solid;
    border-width: 4px 4px 2px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 24px;
    margin: 0 0 2px -15px;
    padding: 8px 10px;
}

.date {
    clear: left;
    color: #888;    
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.ad-view .ad-phone-number {
    color: #888;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.3px;
}

.ad-view .ad-description
{
    color: #888;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.3px;
}

.ad-view .ad-phone-number b {
    color: #333;
    font-weight: bold;
}

.ad-view .ad-price b {
    color: #e31132;
    font-weight: bold;
}

.ad-view .ad-description b
{
    font-size: 14px;
    color: #333;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
}

.ad-view .ad-price {
    color: #888;
    font-size: 14px;
    letter-spacing: -0.3px;
}

.ad-info clearfix
{
    content: " ";
    display: table;
}

.form-row {
    margin-bottom: 10px;
}

.bid-note {
    font-family: Verdana !important;
    font-size: 10px;
    padding-top: 2px;
}

.ui-widget {
    font-size: 12px !important;
}

.create_autcion{}

.create_auction .left_container{
    width: 400px;
    max-width: 400px;
    float: left;
}

.create_auction .big_image{
    width: 400px;
    max-width: 400px;
}

.create_auction .right_container{
    width: 550px;
    float: left;
    padding-top: 20px;
}

.create_auction .description{
    font-size: 12px;
    font-style: italic;
}

.clear{
    clear: both;
}

.create_auction .table_row{
    height: 35px;
    line-height: 35px;
}

.create_auction .form_label{
    margin-right: 10px;
    font-size: 15px !important;
}


.header {
    height: 177px;
    background-color: white;
    width: 100%;
    padding-bottom: 0px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: rgba(0,0,0,.2)
}

.content
{
    width: 800px;
    padding: 5px;
    margin: 0 auto;

}


.footer {
    height: 58px;
    background-color: white;
    width: 100%;
    padding-bottom: 0px;
    margin: 0 auto;
    margin-bottom: 0px;
    background: rgba(0,0,0,.2);
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.login {
    float: right;

}

.login a {
    padding-left: 15px;
    text-decoration: none;
}

.logo_hotel {

}

.header_content {
    

}

.header_top {
    height: 170px;
    width: 800px;
    padding: 5px;
    margin: 0 auto;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 12px;
}
.menu {
    font-size: 15px;
    left: 175px;
    position: relative;
    top: 130px;
}
.menu li {
    float: left;
}

.menu a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #808080;
    background-color: #F8F8F8;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover, a:active {
    background-color: #FFFFFF;
}


.search-panel {
    background: none repeat scroll 0 0 #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 25px 20px 20px;
    width: 530px;
}
#hide{
    color: darkgray;
}

.search-panel-wrapper {
    width: 550px;
    padding: 8px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
}

.footer_content {
    background-color: #F8F8F8;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.header_content_wrapper {
    background-color: #F8F8F8;
}

.footer_content_wrapper {
    background-color: #F8F8F8;
}

#j_idt17 > input {
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    width: 550px;
}

.hotel-list {
    background-color: white;
    width: 800px;
    height: 100%;
    border-radius: 3px;
}

.hotel-list-hotel {
    position: relative;
}

.hotel-list-image {
    margin: 5px;
}

.hotel-list-name {
    display: inline;
    position: relative;
    z-index: 0;
}

.hotel-list-description {
    display: inline;
    float: right;
    position: relative;
}

.hotel-list-content {
}
